.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  height: 100%;
  align-items: center;

  .section1 {
    width: 250px;
    height: 250px;
    border: 1px solid rgb(255, 255, 255, .1);
    box-shadow: 0px 0px 5px #FFFFFF40;
    background: #FFFFFF10;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: #FFFFFF12;
    }

    transition-duration: 200ms;
  }
}